In [24]:
import pandas as pd
import numpy as np

In [25]:
dict = pd.read_csv('Titanic-Dataset.csv')
df = pd.DataFrame(dict)

In [26]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
# cleaning data
df = df.dropna()
df = df.drop_duplicates()

In [32]:
# 1 How many passengers were there on the Titanic?
print(f"Total number of passengers: {df.shape[0]}")

Total number of passengers: 183

In [38]:
#2 What was the overall survival rate?
rate = df["Survived"].mean()
rate = rate * 100
rate = round(rate,3)
print(f"Overall survival rate: {rate}%")

Overall survival rate: 67.213%

In [41]:
#3 What was the average age of passengers?
avg = df["Age"].mean()
avg = round(avg)
print(f"Average Age: {avg}")

Average Age: 36

In [44]:
#4 How many male and female passengers were on board?
genders = df["Sex"].value_counts()
print("Count according to genders: ")
print(genders)

Count according to genders:
Sex
male      95
female    88
Name: count, dtype: int64

In [48]:
#5 What was the survival rate by gender?
r = df.groupby("Sex")["Survived"].mean()
r["female"] = r["female"] * 100
r["male"] = r["male"] * 100
r["female"] = round(r["female"],3)
r["male"] = round(r["male"],3)
print("Survival Rate by gender: ")
print(r)

Survival Rate by gender:
Sex
female    93.182
male      43.158
Name: Survived, dtype: float64

In [55]:
#6 How many passengers were in each class?
classcnt = df['Pclass'].value_counts()
print("Number of passengers in each class: ")
print(classcnt)

Number of passengers in each class:
Pclass
1    158
2     15
3     10
Name: count, dtype: int64

In [59]:
#7 What was the survival rate by class?
surcls = df.groupby('Pclass')["Survived"].mean() * 100
surcls = surcls.round(3)
print(surcls)

Pclass
1    67.089
2    80.000
3    50.000
Name: Survived, dtype: float64

In [61]:
#8 What was the average fare for each class?
avg_fare = df.groupby('Pclass')["Fare"].mean() * 100
avg_fare = round(avg_fare)
print(avg_fare)

Pclass
1    8868.0
2    1844.0
3    1103.0
Name: Fare, dtype: float64

In [62]:
#9 How many passengers were traveling with family members (parents, siblings)?
with_family = (df['SibSp'] > 0) | (df['Parch'] > 0)

# Count passengers by summing the True values
count_with_family = with_family.sum()
print(f"Number of passengers traveling with family: {count_with_family}")

Number of passengers traveling with family: 104

In [64]:
#10 
# Fill missing 'Age' values with the mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing 'Cabin' values with a placeholder
df['Cabin'].fillna('Unknown', inplace=True)

C:\Users\ha159\AppData\Local\Temp\ipykernel_8744\1322467617.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\ha159\AppData\Local\Temp\ipykernel_8744\1322467617.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna('Unknown', inplace=True)